.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    /* flex */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: center;
}

.register-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container section {
    width: 100%;
    max-width: 50%;
}

.register-container section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
    color: #f1f1f1;
}

.register-container section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.register-container section a {
    font-size: 1rem;
    margin-bottom: 32px;
    text-align: center;
    color: #747474;
    text-decoration: none;
}

.register-container form {
    width: 100%;
}

.register-container form input {
    margin-top: 8px;
}

.register-container form .input-group {
    display: flex;
}

.register-container .content form .input-group input+input {
    margin-left: 8px;
}